:root {
  --background-color: #222;
  --text-primary-color: #f0f0f0;
  --text-secondary-color: #ccc;
  --border-color: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--background-color);
  color: var(--text-secondary-color);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  color: var(--text-primary-color);
  text-transform: uppercase;
  margin-top: 0.35em;
  margin-bottom: 0.35em;
}

.hidden {
  display: none !important;
}

.flex-one {
  flex: 1;
}

.ellipsis {
  text-overflow: ellipsis;
}

#content {
  margin: 0 auto;
  max-width: 900px;
  padding: 0.5em;
}

@media (max-width: 900px)  {
  #content {
    width: 100%;
  }
}

#ladder-panel, #strategy-panel {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.stats {
  margin-top: 1em;
  display: flex;
  gap: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--border-color);
}

@media (max-width: 900px)  {
  .stats {
    flex-direction: column;
  }
}

.stats-card {
  flex: 1;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  row-gap: 0.5em;
  padding: 0.5em 0.75em;
}

.stats-card-title {
  font-size: 18px;
}

.stats-card-value {
  font-size: 28px;
  color: var(--text-primary-color);
}

.card {
  border: 1px solid var(--border-color);
  padding: 0.5em 0.75em;
  display: flex;
  gap: 0.75em;
}

@media (max-width: 900px) {
  .card {
    flex-direction: column;
  }
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.card-title {
  display: flex;
  font-size: 12px;
}

.right-or-left {
  justify-content: right;
}

@media (max-width: 900px) {
  .right-or-left {
    justify-content: left;
  }
}

.staker-number-value {
  color: var(--text-primary-color);
  font-weight: bold;
}

.staker-address-value {
  color: var(--text-primary-color);
  font-weight: bold;
  overflow: hidden;
}

.staker-amount-value {
  display: flex;
  color: var(--text-primary-color);
  font-weight: bold;
}

#update-button {
  border: none;
  background-color: royalblue;
  color: var(--text-primary-color);
  padding: 0.5em 0.5em;
  font-size: 16px;
  cursor: pointer;
}

#update-button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

.donation-panel {
  margin-top: 1em;
  background-color: #015f1f;
  padding: 0.75em;
  color: var(--text-primary-color);
}

.donation-wallet {
  margin-top: 0.5em;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: underline dashed;
  text-decoration-thickness: 2px;
  text-underline-offset: 0.2em;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}